body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 50px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 50px;
    font-weight: bold;
    line-height: 34px;
    height: 65px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 65px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
/*   
  .game {
    display: flex;
    flex-direction: row;
    padding-left:  10%;
    padding-right: 10%; 

  }
   */
  .game-info {
    padding-top: 50px;
  }

  .playerForm{
    vertical-align: middle;
    padding-left: 10%;
    padding-right: 10%;
  }

  .btnMove{
    width: 200px;
  }

  .txtLabel{
    margin: 5px;
    padding-bottom: 10px;
    vertical-align: middle;
    text-align: center;
    min-width: 80px;
    color: #008ABC;
    font-size: large;
  }

  .game-board{
    padding-left: 200px;
    padding-top: 50px;
  }